<h1>Bienvenue sur Leveling App</h1>
<p>Inscrivez-vous ou connectez-vous pour commencer votre aventure.</p>

<%= link_to "Se connecter", new_user_session_path, class: "btn btn-primary" %>
<%= link_to "Créer un compte", new_user_registration_path, class: "btn btn-success" %>

<%= link_to "Se connecter avec Google", user_google_oauth2_omniauth_authorize_path, class: "btn btn-danger" %>

